{% assign publications = data.publications %}
{% if publications and publications.display %}
<section class="section publications-section">

    <div class="section-title">
        {{ publications.title }}
    </div>

    {% if publications.intro %}
    <div class="intro">
        {{ publications.intro | markdownify }}
    </div>
    {% endif %}

    {% if publication in publications.details %}
    <div class="details">
        {{ publications.details | markdownify }}
    </div>
    {% endif %}

</section>
{% endif %}
